.Information {
    display: flex;
    flex-direction: column;
}

.Portfolios {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.Button {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 10;
    margin: 10;
}